*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
slagalica-mobilna-aplikacija-firebase-adminsdk-fbsvc-40593ce557.json

# Claude AI history and project state
.claude/